@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    background-color: rgb(255, 255, 255);
}

h3 {
    font-weight: 999;
    font-size: 1.5em;
}

strong {
    font-weight: 999;
    color: black;
}

.g-maps {
    height: 400px;
    width: 600px;
}

/* FOOTER */

.footer{
    width: 100%;
    height: 300px;
    background-color: #282B3E;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.white-link {
    color: white;
}



.featured {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:92.5%;  
}




.centerdiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-bottom: -30px;
    margin-top: 10px;
    font-family: 'Space Mono', monospace;
    

}

.centerdivArticle {
    display: block;
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    
    width: 50%;
    
    margin-bottom: -30px;
    margin-top: 30px;
    font-family: 'Space Mono', monospace;
    

}
.maincontainer {
    display: block;
    max-width: 60%;
    margin: 3rem auto;
    
}

.gorgonzola {
    width: 100%;

 
   }

   .sheet__inner {
    max-width: 150%;

 
   }

.centerdivArticleHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    margin-bottom: -30px;
    margin-top: 30px;
    font-family: 'Space Mono', monospace;
    

}

.mainlinksdiv {
margin-bottom: 30px;
margin-top: 30px;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;

/*
border-bottom: solid 0.5px rgb(224, 222, 222);
box-shadow: 3px#888888;
*/
}

.socialicon{
    margin-top: 20px;
    display: inline-block;
    transition: all 0.2s;
}

.socialicon:hover{
    color: rgb(23, 124, 124);
    
}

.mainlinks{
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;

}



a {
 text-decoration: none;   
 color: black;
 transition: all 0.2s;
 font-family: 'Space Mono', monospace;



}

li {
    display: inline;
    padding: 0px 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

a:hover {
    color: rgb(23, 124, 124);
    
}


.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.backButton {
    
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    margin: 0px auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    
    
}



.centerbutton {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.sidebar {
    margin-top: 14%;
    position: fixed;
    top: 0;
    width: 200px;
    min-height: 200px;
    margin-left: 40px;
    color: white;
    z-index: 999;
  }

  .testad {
      text-align: center;
      margin-top: 100px;
  }

  .sidebarright {
    
    margin-top: 14%;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    min-height: 200px;
    margin-right: 40px;
    color: white;
    z-index: 999;
  }

  .textoverdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }



.card__image:after {
    width: 80px;
    height: 80px;
    background: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}





  /* NEW STYLE FOR SHED */

.centerText{
    text-align: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

  h4{
 
        font-family: 'Bungee Shade', cursive;
        font-size: 2.5rem;
        color: black;
        margin-bottom: 30px;
        margin-top: 30px;
        
    
  }

  .readmorelink{
    font-size: 1.3rem;
    text-decoration: underline;
    
  }

  .bungee {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 19px;
    
  }

  .bungee-footer{
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
    padding-top: 50px;
    color: white;
  }

.bungeelarge{
    
    font-family: 'Bungee Shade', cursive;
}


  .monospace {
    font-family: 'Space Mono', monospace;
    margin-bottom: 20px;
    font-size: 1.2rem;
    
  }

  .monospacesmall {
    font-family: 'Space Mono', monospace;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .blockSetup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:40%;
    background-color: #f59295;
    
}  


.maintext {
    font-size: 3rem;
    color: black;
    font-family: 'Bungee Shade', cursive;
    width: 100%;
    
  }

  .subtext {
    font-size: 1rem;
    color: white;
  }




@media screen and (max-width: 600px) {

    .g-maps {
        height: 300px;
        width: 300px;
    }

h4{
    font-size: 2rem;
}
 

    .centerdiv {
        display: none;
    }

    .card{
        width: 320px;
        
    }

    

    .mainlinks {
        font-size: 1rem;
    }

    .centerdivArticle {

        width: 90%;
        
     
    
    }

    .centerdivArticleHome {

        width: 100%;
        
     
    
    }

    .centerimg {
        width: 50%;
      }

    li{
        display: block;
        margin-top: 10px;
    }

    .featured {
        
        margin-left: auto;
        margin-right: auto;
        max-width:80%;
    }
    .sidebar, .sidebarright{
        display: none;
    }

    .maincontainer {
        
        max-width: 100%;
        
       
    }


    
  }



